<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uniE004</key>
    <string>uniE_004.glif</string>
    <key>afii10103</key>
    <string>afii10103.glif</string>
    <key>uni2DF1</key>
    <string>uni2D_F_1.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>uniE001</key>
    <string>uniE_001.glif</string>
    <key>uniE003</key>
    <string>uniE_003.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>afii10017</key>
    <string>afii10017.glif</string>
    <key>afii10018</key>
    <string>afii10018.glif</string>
    <key>afii10040</key>
    <string>afii10040.glif</string>
    <key>afii10021</key>
    <string>afii10021.glif</string>
    <key>afii10022</key>
    <string>afii10022.glif</string>
    <key>afii10038</key>
    <string>afii10038.glif</string>
    <key>afii10020</key>
    <string>afii10020.glif</string>
    <key>afii10039</key>
    <string>afii10039.glif</string>
    <key>afii10026</key>
    <string>afii10026.glif</string>
    <key>afii10024</key>
    <string>afii10024.glif</string>
    <key>afii10028</key>
    <string>afii10028.glif</string>
    <key>afii10029</key>
    <string>afii10029.glif</string>
    <key>afii10030</key>
    <string>afii10030.glif</string>
    <key>afii10031</key>
    <string>afii10031.glif</string>
    <key>afii10032</key>
    <string>afii10032.glif</string>
    <key>afii10033</key>
    <string>afii10033.glif</string>
    <key>afii10044</key>
    <string>afii10044.glif</string>
    <key>afii10034</key>
    <string>afii10034.glif</string>
    <key>afii10035</key>
    <string>afii10035.glif</string>
    <key>afii10036</key>
    <string>afii10036.glif</string>
    <key>uniA64A</key>
    <string>uniA_64A_.glif</string>
    <key>afii10019</key>
    <string>afii10019.glif</string>
    <key>afii10042</key>
    <string>afii10042.glif</string>
    <key>afii10045</key>
    <string>afii10045.glif</string>
    <key>afii10025</key>
    <string>afii10025.glif</string>
    <key>afii10094</key>
    <string>afii10094.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>afii10065</key>
    <string>afii10065.glif</string>
    <key>afii10066</key>
    <string>afii10066.glif</string>
    <key>afii10088</key>
    <string>afii10088.glif</string>
    <key>afii10069</key>
    <string>afii10069.glif</string>
    <key>afii10070</key>
    <string>afii10070.glif</string>
    <key>afii10086</key>
    <string>afii10086.glif</string>
    <key>afii10068</key>
    <string>afii10068.glif</string>
    <key>afii10087</key>
    <string>afii10087.glif</string>
    <key>afii10074</key>
    <string>afii10074.glif</string>
    <key>afii10072</key>
    <string>afii10072.glif</string>
    <key>afii10076</key>
    <string>afii10076.glif</string>
    <key>afii10077</key>
    <string>afii10077.glif</string>
    <key>afii10078</key>
    <string>afii10078.glif</string>
    <key>afii10079</key>
    <string>afii10079.glif</string>
    <key>afii10080</key>
    <string>afii10080.glif</string>
    <key>afii10081</key>
    <string>afii10081.glif</string>
    <key>afii10092</key>
    <string>afii10092.glif</string>
    <key>afii10082</key>
    <string>afii10082.glif</string>
    <key>afii10083</key>
    <string>afii10083.glif</string>
    <key>afii10084</key>
    <string>afii10084.glif</string>
    <key>uniA64B</key>
    <string>uniA_64B_.glif</string>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10090</key>
    <string>afii10090.glif</string>
    <key>afii10093</key>
    <string>afii10093.glif</string>
    <key>afii10073</key>
    <string>afii10073.glif</string>
    <key>afii10046</key>
    <string>afii10046.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniA656</key>
    <string>uniA_656.glif</string>
    <key>afii10041</key>
    <string>afii10041.glif</string>
    <key>uniA657</key>
    <string>uniA_657.glif</string>
    <key>afii10089</key>
    <string>afii10089.glif</string>
    <key>uniE8E3</key>
    <string>uniE_8E_3.glif</string>
    <key>uniA67C</key>
    <string>uniA_67C_.glif</string>
    <key>uni2DEC</key>
    <string>uni2D_E_C_.glif</string>
    <key>uni2DE2</key>
    <string>uni2D_E_2.glif</string>
    <key>afii10075</key>
    <string>afii10075.glif</string>
    <key>uni2DE3</key>
    <string>uni2D_E_3.glif</string>
    <key>afii10091</key>
    <string>afii10091.glif</string>
    <key>afii10102</key>
    <string>afii10102.glif</string>
    <key>afii10048</key>
    <string>afii10048.glif</string>
    <key>uni2DE4</key>
    <string>uni2D_E_4.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>uni033E</key>
    <string>uni033E_.glif</string>
    <key>uni2E2F</key>
    <string>uni2E_2F_.glif</string>
    <key>uniE8E5</key>
    <string>uniE_8E_5.glif</string>
    <key>uni2DEA</key>
    <string>uni2D_E_A_.glif</string>
    <key>afii10096</key>
    <string>afii10096.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>uniE901</key>
    <string>uniE_901.glif</string>
    <key>uniE903</key>
    <string>uniE_903.glif</string>
    <key>uniE904</key>
    <string>uniE_904.glif</string>
    <key>afii10043</key>
    <string>afii10043.glif</string>
    <key>afii10101</key>
    <string>afii10101.glif</string>
    <key>afii10027</key>
    <string>afii10027.glif</string>
    <key>uniE8E1</key>
    <string>uniE_8E_1.glif</string>
    <key>uniE926</key>
    <string>uniE_926.glif</string>
    <key>afii10054</key>
    <string>afii10054.glif</string>
    <key>uni2DE9</key>
    <string>uni2D_E_9.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uni0483.short</key>
    <string>uni0483.short.glif</string>
    <key>uni2DEF</key>
    <string>uni2D_E_F_.glif</string>
    <key>uni0483.tiny</key>
    <string>uni0483.tiny.glif</string>
    <key>uni2DE5</key>
    <string>uni2D_E_5.glif</string>
    <key>uni2DE1</key>
    <string>uni2D_E_1.glif</string>
    <key>uni0483.long</key>
    <string>uni0483.long.glif</string>
    <key>uni2DED</key>
    <string>uni2D_E_D_.glif</string>
    <key>uniE002</key>
    <string>uniE_002.glif</string>
    <key>afii10055</key>
    <string>afii10055.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>sfthyphen</key>
    <string>sfthyphen.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>uni2027</key>
    <string>uni2027.glif</string>
    <key>afii10194</key>
    <string>afii10194.glif</string>
    <key>afii10146</key>
    <string>afii10146.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0467</key>
    <string>uni0467.glif</string>
    <key>afii10147</key>
    <string>afii10147.glif</string>
    <key>afii10195</key>
    <string>afii10195.glif</string>
    <key>afii10148</key>
    <string>afii10148.glif</string>
    <key>afii10196</key>
    <string>afii10196.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0477</key>
    <string>uni0477.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uni047B</key>
    <string>uni047B_.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0471</key>
    <string>uni0471.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047D</key>
    <string>uni047D_.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uni047F</key>
    <string>uni047F_.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni0479</key>
    <string>uni0479.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni0461</key>
    <string>uni0461.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046F</key>
    <string>uni046F_.glif</string>
    <key>afii10053</key>
    <string>afii10053.glif</string>
    <key>uni0482</key>
    <string>uni0482.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>afii10085</key>
    <string>afii10085.glif</string>
    <key>afii10037</key>
    <string>afii10037.glif</string>
    <key>afii10056</key>
    <string>afii10056.glif</string>
    <key>afii10104</key>
    <string>afii10104.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>afii10023</key>
    <string>afii10023.glif</string>
    <key>afii10052</key>
    <string>afii10052.glif</string>
    <key>afii10061</key>
    <string>afii10061.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>afii10062</key>
    <string>afii10062.glif</string>
    <key>afii10047</key>
    <string>afii10047.glif</string>
    <key>afii10049</key>
    <string>afii10049.glif</string>
    <key>afii10097</key>
    <string>afii10097.glif</string>
    <key>afii10095</key>
    <string>afii10095.glif</string>
    <key>afii10071</key>
    <string>afii10071.glif</string>
    <key>afii10100</key>
    <string>afii10100.glif</string>
    <key>afii10109</key>
    <string>afii10109.glif</string>
    <key>uni045D</key>
    <string>uni045D_.glif</string>
    <key>afii10110</key>
    <string>afii10110.glif</string>
    <key>uni0485</key>
    <string>uni0485.glif</string>
    <key>uni0487</key>
    <string>uni0487.glif</string>
    <key>uniA64C</key>
    <string>uniA_64C_.glif</string>
    <key>uniA64D</key>
    <string>uniA_64D_.glif</string>
    <key>uniA673</key>
    <string>uniA_673.glif</string>
    <key>uniA67D</key>
    <string>uniA_67D_.glif</string>
    <key>uniA67F</key>
    <string>uniA_67F_.glif</string>
    <key>uniA67E</key>
    <string>uniA_67E_.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni1C82</key>
    <string>uni1C_82.glif</string>
    <key>uni2DEE</key>
    <string>uni2D_E_E_.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni2DE10487</key>
    <string>uni2D_E_10487.glif</string>
    <key>uni2DE20487</key>
    <string>uni2D_E_20487.glif</string>
    <key>uni2DE90487</key>
    <string>uni2D_E_90487.glif</string>
    <key>uni2DEA0487</key>
    <string>uni2D_E_A_0487.glif</string>
    <key>uni2DEC0487</key>
    <string>uni2D_E_C_0487.glif</string>
    <key>uni2DED0487</key>
    <string>uni2D_E_D_0487.glif</string>
    <key>uni2DF10487</key>
    <string>uni2D_F_10487.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>afii300</key>
    <string>afii300.glif</string>
    <key>afii299</key>
    <string>afii299.glif</string>
    <key>afii301</key>
    <string>afii301.glif</string>
    <key>afii61664</key>
    <string>afii61664.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200A</key>
    <string>uni200A_.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni2008</key>
    <string>uni2008.glif</string>
    <key>uni2007</key>
    <string>uni2007.glif</string>
    <key>uni2006</key>
    <string>uni2006.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif</string>
    <key>uni2002</key>
    <string>uni2002.glif</string>
    <key>uni2001</key>
    <string>uni2001.glif</string>
    <key>uni2000</key>
    <string>uni2000.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni046B</key>
    <string>uni046B_.glif</string>
    <key>uni0468</key>
    <string>uni0468.glif</string>
    <key>uni046C</key>
    <string>uni046C_.glif</string>
    <key>uni046D</key>
    <string>uni046D_.glif</string>
    <key>uni0469</key>
    <string>uni0469.glif</string>
    <key>uni2DF5</key>
    <string>uni2D_F_5.glif</string>
    <key>uni1C83</key>
    <string>uni1C_83.glif</string>
    <key>uni1C85</key>
    <string>uni1C_85.glif</string>
    <key>uni2DE6</key>
    <string>uni2D_E_6.glif</string>
    <key>uni2DE60487</key>
    <string>uni2D_E_60487.glif</string>
    <key>uni2DE00487</key>
    <string>uni2D_E_00487.glif</string>
    <key>uni2DE8</key>
    <string>uni2D_E_8.glif</string>
    <key>uni2DE7</key>
    <string>uni2D_E_7.glif</string>
    <key>uni2DFD</key>
    <string>uni2D_F_D_.glif</string>
    <key>uni2DE70487</key>
    <string>uni2D_E_70487.glif</string>
    <key>uni2DFD0487</key>
    <string>uni2D_F_D_0487.glif</string>
    <key>uni2DEB0487</key>
    <string>uni2D_E_B_0487.glif</string>
    <key>uni2DF20487</key>
    <string>uni2D_F_20487.glif</string>
    <key>uni2DEB</key>
    <string>uni2D_E_B_.glif</string>
    <key>uni2DF2</key>
    <string>uni2D_F_2.glif</string>
    <key>uni2DF00487</key>
    <string>uni2D_F_00487.glif</string>
    <key>uni2DF30487</key>
    <string>uni2D_F_30487.glif</string>
    <key>uni2DF0</key>
    <string>uni2D_F_0.glif</string>
    <key>uni2DF3</key>
    <string>uni2D_F_3.glif</string>
    <key>uni2DF4</key>
    <string>uni2D_F_4.glif</string>
    <key>uni2DEE0487</key>
    <string>uni2D_E_E_0487.glif</string>
    <key>u1F540</key>
    <string>u1F_540.glif</string>
    <key>u1F542</key>
    <string>u1F_542.glif</string>
    <key>u1F543</key>
    <string>u1F_543.glif</string>
    <key>u1F544</key>
    <string>u1F_544.glif</string>
    <key>u1F541</key>
    <string>u1F_541.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>uni0360</key>
    <string>uni0360.glif</string>
    <key>uni047E0301</key>
    <string>uni047E_0301.glif</string>
    <key>uni047F0301</key>
    <string>uni047F_0301.glif</string>
    <key>uniE907</key>
    <string>uniE_907.glif</string>
    <key>uni0463.short</key>
    <string>uni0463.short.glif</string>
    <key>uniE925</key>
    <string>uniE_925.glif</string>
    <key>uniA66F</key>
    <string>uniA_66F_.glif</string>
    <key>uni0460.alt</key>
    <string>uni0460.alt.glif</string>
    <key>uni2DE0</key>
    <string>uni2D_E_0.glif</string>
    <key>uni04630486</key>
    <string>uni04630486.glif</string>
    <key>uni1C81</key>
    <string>uni1C_81.glif</string>
    <key>uni0465</key>
    <string>uni0465.glif</string>
    <key>uni0464</key>
    <string>uni0464.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>afii10057</key>
    <string>afii10057.glif</string>
    <key>afii10105</key>
    <string>afii10105.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>uni10FB</key>
    <string>uni10F_B_.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>onedotenleader</key>
    <string>onedotenleader.glif</string>
    <key>twodotenleader</key>
    <string>twodotenleader.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>uni203B</key>
    <string>uni203B_.glif</string>
    <key>uni2052</key>
    <string>uni2052.glif</string>
    <key>uni2053</key>
    <string>uni2053.glif</string>
    <key>uni2056</key>
    <string>uni2056.glif</string>
    <key>uni2058</key>
    <string>uni2058.glif</string>
    <key>uni2059</key>
    <string>uni2059.glif</string>
    <key>uni205C</key>
    <string>uni205C_.glif</string>
    <key>uni205D</key>
    <string>uni205D_.glif</string>
    <key>uni205E</key>
    <string>uni205E_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>uni20DD</key>
    <string>uni20D_D_.glif</string>
    <key>uni2219</key>
    <string>uni2219.glif</string>
    <key>uni223B</key>
    <string>uni223B_.glif</string>
    <key>similar</key>
    <string>similar.glif</string>
    <key>uni223D</key>
    <string>uni223D_.glif</string>
    <key>uni2241</key>
    <string>uni2241.glif</string>
    <key>uni2626</key>
    <string>uni2626.glif</string>
    <key>uni263D</key>
    <string>uni263D_.glif</string>
    <key>uni263E</key>
    <string>uni263E_.glif</string>
    <key>uni271A</key>
    <string>uni271A_.glif</string>
    <key>uni2720</key>
    <string>uni2720.glif</string>
    <key>uni2734</key>
    <string>uni2734.glif</string>
    <key>uni29DF</key>
    <string>uni29D_F_.glif</string>
    <key>uni2E2A</key>
    <string>uni2E_2A_.glif</string>
    <key>uni2E2B</key>
    <string>uni2E_2B_.glif</string>
    <key>uni2E2C</key>
    <string>uni2E_2C_.glif</string>
    <key>uni2E2D</key>
    <string>uni2E_2D_.glif</string>
    <key>uni2E34</key>
    <string>uni2E_34.glif</string>
    <key>uni2E43</key>
    <string>uni2E_43.glif</string>
    <key>uni2E45</key>
    <string>uni2E_45.glif</string>
    <key>uni2E46</key>
    <string>uni2E_46.glif</string>
    <key>uni2E47</key>
    <string>uni2E_47.glif</string>
    <key>uni2E48</key>
    <string>uni2E_48.glif</string>
    <key>uni2E49</key>
    <string>uni2E_49.glif</string>
    <key>uniA640</key>
    <string>uniA_640.glif</string>
    <key>uniA641</key>
    <string>uniA_641.glif</string>
    <key>uniA675</key>
    <string>uniA_675.glif</string>
    <key>uniE5D0</key>
    <string>uniE_5D_0.glif</string>
    <key>uniE5D1</key>
    <string>uniE_5D_1.glif</string>
    <key>uniE5D2</key>
    <string>uniE_5D_2.glif</string>
    <key>uniE5D3</key>
    <string>uniE_5D_3.glif</string>
    <key>uniE5D4</key>
    <string>uniE_5D_4.glif</string>
    <key>uniE5D5</key>
    <string>uniE_5D_5.glif</string>
    <key>uniE5D6</key>
    <string>uniE_5D_6.glif</string>
    <key>uniE5D7</key>
    <string>uniE_5D_7.glif</string>
    <key>u1F545</key>
    <string>u1F_545.glif</string>
    <key>u1F311</key>
    <string>u1F_311.glif</string>
    <key>u1F312</key>
    <string>u1F_312.glif</string>
    <key>u1F313</key>
    <string>u1F_313.glif</string>
    <key>u1F314</key>
    <string>u1F_314.glif</string>
    <key>u1F315</key>
    <string>u1F_315.glif</string>
    <key>u1F316</key>
    <string>u1F_316.glif</string>
    <key>u1F317</key>
    <string>u1F_317.glif</string>
    <key>u1F318</key>
    <string>u1F_318.glif</string>
    <key>u1F319</key>
    <string>u1F_319.glif</string>
    <key>u1F347</key>
    <string>u1F_347.glif</string>
    <key>u1F377</key>
    <string>u1F_377.glif</string>
    <key>u1F41F</key>
    <string>u1F_41F_.glif</string>
    <key>uni007F</key>
    <string>uni007F_.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>uni2215</key>
    <string>uni2215.glif</string>
  </dict>
</plist>
